body {
    background-color: black;
}

header{
    font-family: 'Press Start 2P', serif;
    font-size: 2.277vw;
    color: white;
    height: 9vh;
    width: 100%;
    text-align: center;
}

div{
    font-family: 'Press Start 2P', serif;
    color: white;
    text-align: center;
    font-size: 1.5vw;
}

.background {
    position: absolute;
    top: -1vh;
    left: -1vw;
    opacity: 0.33;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
}

#Totl{
right: 10vw;
    width: 4.36vw;
    top: 6vh;
    text-align: center;
    position: absolute;
    font-size: 3vh;
}

#Cons{
    Left: 5vw;
    position: absolute;
    top: 80vh;
    width: 14vw;
}

input{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', serif;
    width: 36vw;
    height: 4.3vh;
    Left: 32vw;
    bottom: 10vh;
    position: absolute;
    border-style: solid;
    border-color: white;
    font-size: 2vw;
}

p{
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', serif;
    font-size: 2.277vw;
    position:absolute;
}

#Cm{
    width: 38vw;
    bottom: 14vh;
    left: 31vw;
}

#Bt{
    width: 58vw;
    bottom: -1vh;
    left: 21vw;
}

.Spinning{
    width: 12vw;
    height: 57vh;
    background-color: black;
    border-color: white;
    border-style: solid;
    overflow:hidden;
    position: absolute;
    top: 18vh;
}

#Slide1{
    Left: 26vw;
}

#Slide2{
    Left: 44vw;
}

#Slide3{
    Left: 62vw;
}

.Spinning img {
    max-width:100%;
    display: inline-block;
    margin: auto;
}

#colorFlash {
    animation: fadeIn 0.5s ease-in-out;
    filter: drop-shadow(0 0 1vw white);
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}

.mobile-button {
    display: none;
    position: fixed;
    bottom: 10vh;
    left: 80%;
    transform: translateX(-50%);
    padding: 1.5vh 3vw;
    font-size: 2vw;
    color: white;
    background-color: #333;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Press Start 2P', serif;
  }

  @media screen and (max-width: 700px) {
    .mobile-button {
      display: block;
    }
  }